<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/selfcsp/htmx.2.0.8.min.js" defer></script>
        <link rel="stylesheet" href="/selfcsp/98.css" />
        <link rel="stylesheet" href="/selfcsp/style_default.css" />
        <title>Home Page</title>
    </head>
    <body>
        <main>
            <header>
                <h1>Home Page</h1>
                <!--Edit/view profile and logout buttons-->
            </header>
            <section class="addHouseholds">
                <h2>Add Households</h2>
                <section class="createHousehold" aria-label="Create Household Form"></section>
                    <h3>Create New Household</h3>
                    <form hx-post="/api/homepage/create-household" hx-target="#responseCreate">
                        <label for="household-name" aria-label="Household Name">Create Household:</label>
                        <input type="text" id="householdName" name="householdName" placeholder="Household Name" aria-placeholder="Household Name (Max 32 Chars)" >
                        <button type="submit" name="submit">Submit</button>
                        <div id="responseCreate"></div>
                    </form>
                </section>
                    <h3>Join Household</h3>
                <section class="joinHousehold" aria-label="Join Household Form"></section>
                    <form hx-post="/api/homepage/join-household" hx-target="#responseJoin">
                        <label for="householdName">Join Household Via Code:</label>
                        <input type="text" id="householdCode" name="householdCode" placeholder="Household Join Code" aria-placeholder="Household Join Code">
                        <button type="submit" name="submit">Submit</button>
                    </form>
                    <div id="responseJoin"></div>
                </section>
            </section>
            <section class="currentHouseholds">
                <h2>Current Households</h2>
                <section class="managerHouseholds">
                    <h3>Manager Households</h3>
                    <div hx-get="/api/homepage/manager-households" hx-trigger="load" hx-swap="outerHTML"></div>
                </section>
                <section class="member-households">
                    <h3>Member Households</h3>
                    <div hx-get="/api/homepage/member-households" hx-trigger="load" hx-swap="outerHTML"></div>
                </section>
            </section>
        </main>
</html>