<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- INSERT_HEAD_HTML -->
    <title>Home Page</title>
    <script src="/selfcsp/pane-toggle.js" defer></script>
  </head>
  <body class="wide-window">
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">
          Home Page
        </div>
      </div>
      <div class="window-body">
        <main>
          <div class="userInfo">
            <div
              id="username"
              hx-get="/api/homepage/get-username"
              hx-trigger="load"
              hx-swap="outerHTML"
            >
            </div>
            <a href="/logout"><button>Logout</button></a>
          </div>

          <div class="pane-container">
            <div class="pane" id="pane-modify">
              <div class="pane-header">
                <button type="button" class="pane-toggle-button">−</button>
                <legend>Modify Households</legend>
              </div>
              <div class="pane-content">
                <fieldset>
                  <legend>Create New Household</legend>
                  <form
                    hx-post="/api/homepage/create-household"
                    hx-target="#responseCreate"
                    hx-swap="innerHTML"
                  >
                    <div class="field-row-stacked">
                      <label for="householdName">Create Household:</label>
                      <input
                        type="text"
                        id="householdName"
                        name="householdName"
                        placeholder="Household Name"
                      >
                    </div>
                    <div class="field-row">
                      <button type="submit" name="submit">Submit</button>
                    </div>
                    <div id="responseCreate"></div>
                  </form>
                </fieldset>
                <fieldset>
                  <legend>Join Household</legend>
                  <form
                    hx-post="/api/homepage/join-household"
                    hx-target="#responseJoin"
                    hx-swap="innerHTML"
                  >
                    <div class="field-row-stacked">
                      <label for="householdCode">Join Household Via Code:</label>
                      <input
                        type="text"
                        id="householdCode"
                        name="householdCode"
                        placeholder="Household Join Code"
                      >
                    </div>
                    <div class="field-row">
                      <button type="submit" name="submit">Submit</button>
                    </div>
                    <div id="responseJoin"></div>
                  </form>
                </fieldset>
                <fieldset>
                  <legend>Leave Household</legend>
                  <form
                    hx-post="/api/homepage/leave-household"
                    hx-target="#responseLeave"
                    hx-swap="innerHTML"
                  >
                    <div class="field-row-stacked">
                      <label for="item-dropdown">Leave Household:</label>
                      <select
                        name="householdID"
                        id="item-dropdown"
                        hx-get="/api/homepage/leave-dropdown"
                        hx-trigger="load, updateDropdown from:body"
                        hx-target="this"
                      >
                        <option value="" disabled selected>Loading…</option>
                      </select>
                    </div>
                    <div class="field-row">
                      <button type="submit">Submit</button>
                    </div>
                    <div id="responseLeave"></div>
                  </form>
                </fieldset>
              </div>
            </div>

            <div class="pane" id="pane-list">
              <div class="pane-header">
                <button type="button" class="pane-toggle-button">−</button>
                <legend>List Households</legend>
              </div>
              <div class="pane-content">
                <fieldset>
                  <legend>Manager Households</legend>
                  <div
                    id="responseManager"
                    hx-get="/api/homepage/manager-households"
                    hx-trigger="load, updateDropdown from:body"
                    hx-swap="innerHTML"
                  >
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Member Households</legend>
                  <div
                    id="responseMember"
                    hx-get="/api/homepage/member-households"
                    hx-trigger="load, updateDropdown from:body"
                    hx-swap="innerHTML"
                  >
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/static/selfcsp/htmx.2.0.8.min.js"></script>
    <script>
      // Enable credentials (cookies) in HTMX requests
      htmx.config.withCredentials = true;
    </script>
  </body>
</html>
